# Ignore node_modules in the HeartRateLimits subfolder
MDNav/node_modules/

# Ignore Expo files in the HeartRateLimits subfolder
MDNav/.expo/
MDNav/.expo-shared/

# Logs
MDNav/logs/
MDNav/*.log
MDNav/npm-debug.log*
MDNav/expo-debug.log*

# Yarn Integrity file
MDNav/.yarn-integrity

# Optional npm cache directory
MDNav/.npm/

# Optional dotenv environment variable file
MDNav/.env

# MacOS files
MDNav/.DS_Store

# Android & iOS build artifacts
MDNav/*.apk
MDNav/*.apkg
MDNav/*.aar
MDNav/*.ipa
MDNav/.DS_Store

# Build directory
MDNav/build/